---
import FacebookPost from "../components/FacebookPost.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import { getAds } from "../utils/sanity";

const ads = await getAds();
---

<Layout title="Brokerage Specialists Ad Preview">
  <section>
    {ads.length ? ads.map((ad) => <FacebookPost ad={ad} />) : <Welcome />}
  </section>
</Layout>
