---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getAd, getAds } from "../../utils/sanity";

export async function getStaticPaths() {
  const ads = await getAds();
  return ads.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const ad = await getAd(slug);
---

<Layout title={ad.headline!}>
  <section class="ad">
    {
      ad.mainImage ? (
        <img
          class="ad__cover"
          src={urlFor(ad.mainImage).url()}
          alt="Cover image"
        />
      ) : (
        <div class="ad__cover--none" />
      )
    }
    <div class="ad__container">
      <h1 class="ad__title">{ad.headline}</h1>
      <p class="ad__date">
        {formatDate(ad._createdAt)}
      </p>
      <div class="ad__content">
        <PortableText value={ad.body} />
      </div>
    </div>
  </section>
</Layout>

<style>
  .ad {
    width: 100%;
    margin: var(--space-1) 0 var(--space-4);

    & .ad__cover,
    & .ad__cover--none {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    & .ad__cover--none {
      background: var(--black);
    }

    & .ad__container {
      padding: 0 var(--space-3);
    }

    & .ad__content {
      font-family: var(--font-family-serif);
      font-weight: 400;
      font-size: var(--font-size-4);
      line-height: var(--line-height-5);
      letter-spacing: -0.02em;
      margin-top: var(--space-6);

      /* Targeting tags in PortableText */
      & blockquote {
        border-left: 5px solid var(--black);
        padding-left: var(--space-3);
        margin-left: var(--space-4);
      }

      & a {
        color: var(--blue-600);
        text-decoration: none;
      }
    }

    & .ad__title {
      font-family: var(--font-family-sans);
      font-size: var(--font-size-7);
      line-height: var(--line-height-6);
      margin: var(--space-4) 0;
      font-weight: 800;
    }

    & .ad__excerpt {
      font-family: var(--font-family-serif);
      font-size: var(--font-size-5);
      line-height: var(--line-height-4);
      margin-top: 0;
      font-weight: 400;
    }

    & .ad__date {
      font-family: var(--font-family-sans);
      font-weight: 600;
      font-size: var(--font-size-1);
      line-height: var(--line-height-1);
      margin-top: var(--space-4);
    }
  }

  @media (min-width: 800px) {
    .ad {
      & .ad__cover,
      & .ad__cover--none {
        width: 750px;
        height: 380px;
      }

      & .ad__title {
        font-size: var(--font-size-10);
        line-height: var(--line-height-10);
        margin: var(--space-6) 0 0;
        letter-spacing: -0.025em;
      }

      & .ad__excerpt {
        font-size: var(--font-size-5);
        line-height: var(--line-height-5);
        margin-top: var(--space-3);
        margin-bottom: var(--space-3);
      }

      & .ad__date {
        font-size: var(--font-size-3);
        line-height: var(--line-height-2);
        margin-top: var(--space-0);
      }

      & .ad__content {
        margin-top: var(--space-7);
      }
    }
  }
</style>
